@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inder:wght@100;200;300;400;500;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.barRemove,
.classContente::-webkit-scrollbar {
  display: none;
}

:root {
  --primary: #191932;
  --secondary: #8d96a5;
  --font-inter: 'Outfit', sans-serif;
  --font-inder: "Inder", sans-serif;
  --dark-blue: #314259;
  --light-grey: #f8f8f8;
  --med-grey: #f1f2f6;
}


/* Custom radio button styles */
.custom-radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-radio-button {
  width: 24px;
  height: 24px;
  border: 2px solid black;
  /* Default border */
  border-radius: 4px;
  /* Rounded corners */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Green background when selected */
.custom-radio:checked+.custom-radio-button {
  background-color: green;
  border: 2px solid green;
  /* Green border when selected */
}

.custom-radio-icon {
  font-size: 16px;
  color: white;
}

.quill-editor {
  font-family: 'Calibri, sans-serif';
}

/* Repeat the above CSS rules for each font option */

.custom-upload {
  /* Add your custom styles here */
  border: 2px dashed #d9d9d9;
  border-radius: 8px;

}

.custom-upload:hover {
  border-color: #4d4d4d;
  transition: all 0.2s ease-in;

}


.modalRoot {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: max-content;
  background-color: #ffffff;
  /* Assuming bgcolor: 'background.paper' means white */
  border-radius: 12px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  /* Assuming boxShadow: 24 means a box shadow with 24px blur */
  padding: 8px;
  /* Assuming p: 2 means padding of 8px */


}


/* Add this to your CSS or stylesheets */
.custom-header-class {
  background-color: #24B670;
  color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* background: #fffdfd6e; */
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.play-btn {
  width: 50px;
  height: 50px;
  background: radial-gradient(rgba(107, 107, 107, 0.8) 60%, rgb(255, 255, 255) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 100px;
  padding: 10px;
  box-shadow: 0px 0px 25px 3px rgba(131, 130, 130, 0.106);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  animation-delay: 0s;
  animation: pulsate1 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -2%;
  left: -2%;
  background: rgba(255, 255, 255, 0.52);
}

@keyframes pulsate1 {
  0% {
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(246, 246, 246, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }

  100% {
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

.ant-btn-primary {
  background-color: rgb(47, 47, 47);
}


.custom-float-btn .ant-float-btn-body {
  background-color: #000;
  /* Set background color */
}


.snackbar-root {
  font-family: var(--font-inter);
  font-size: 13px;
  font-weight: bold;

  /* Add any other font-related CSS styles here */
}

.ant-popover-content p {
  margin: 0;
}


.custom-hover {
  position: relative;
  transition: opacity 0.4s ease-in-out;
  /* Adjusted duration for smoother transition */
}

.custom-hover::before {
  content: '';
  position: absolute;
  width: 100%;
  background: linear-gradient(0deg, rgb(37, 37, 37), rgba(255, 255, 255, 0));
  /* Adjusted gradient for smoother transition */
  height: 100%;
  /* Adjusted height to cover the entire element */
  left: 0;
  bottom: 0;
  border-radius: 0px;
  opacity: 0.7;
}


@keyframes bounce-x {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
    /* Adjust this value as needed */
  }

  100% {
    transform: translateX(0);
  }
}

.animate-bounce-x {
  animation: bounce-x 1.3s infinite;
  font-weight: bold;
}


.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 10px;
}

.marquee {
  animation: marquee 10s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.ant-popover-content {
  z-index: 9999 !important;
}

.ant-popover-content {
  z-index: 9999 !important;
}

.color-picker-popup {
  z-index: 9999 !important;

}

.color-picker-wrapper {
  position: relative;
  z-index: 9999;
}


.mySwiper .swiper-button-prev {
  color: black;
  /* Change color */
  font-size: 20px;
  /* Change font size */
  font-weight: bold;
}

.mySwiper .swiper-button-next {
  color: black;
  /* Change color */
  font-size: 10px !important;
  /* Change font size */
  font-weight: bold;

}

.mySwiper .swiper-pagination-bullet-active {
  background: black;
  /* Change color */

}

.ant-notification {
  z-index: 110000 !important;
}

.ant-message {
  z-index: 110000 !important;
}


.tree-node {
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid var(--med-grey);
  font-family: var(--font-inter);
  background-color: #f9f9f9;
  text-align: center;
}

.tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.tree-line {
  border-width: 2px;
  border-color: grey;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .react-organizational-chart {
    flex-direction: column;
  }
}



